@import "./variable.scss";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    min-height: 100vh;
    user-select: none;
    float: left;
    transition: width 0.3s ease;
    z-index: 9999;
    .logo_wrapper {
        position: relative;
        padding: 20px 16px;
        z-index: 999;
        img {
            &[data-logo="mini-logo"] {
                display: none;
            }
        }
        .sidebar_toggle {
            button {
                font-size: 0.95em;
                border: 0px;
                background-color: transparent;
            }
        }
    }
    .nav {
        position: relative;
        padding: 0 16px;
        z-index: 999;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 100px);
        .nav_item {
            margin-top: 4px;
            list-style: none;
            a {
                display: flex;
                align-items: center;
                cursor: pointer;
                width: 100%;
                padding: 8px 12px;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                border-radius: 8px;
                i {
                    width: 30px;
                    font-size: 18px;
                    color: #a4bcfd;
                }
                svg {
                    width: 18px;
                    height: 18px;
                }
                .arrow {
                    width: auto;
                }
                &[aria-current="page"] {
                    background-color: #0d6efd;
                    span {
                        color: #fff !important;
                    }
                    i {
                        color: #fff !important;
                    }
                }
            }
            &:first-child {
                margin-top: 0;
            }
        }
        .nav_title {
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 700;
            line-height: 50px;
            text-transform: uppercase;
            padding: 0 16px;
        }
        .submenu {
            padding-left: 16px;
            &[data-submenu-expanded="true"] {
                display: block;
                margin-top: 4px;
            }
            &[data-submenu-expanded="false"] {
                display: none;
            }
        }
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #a8a9ac;
            border-radius: 20px;
        }
    }
    .sidebar_background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        padding: 0 3px;
        background-position: 50%;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
        }
        &[data-bg-color="white"] {
            &::before {
                background-color: #fff;
            }
            .sidebar_toggle {
                button {
                    color: #3c4858;
                }
            }
            .nav {
                .nav_title {
                    color: #3c4858;
                }
                .nav_item {
                    a {
                        span,
                        i {
                            color: #3c4858;
                        }
                    }
                }
            }
        }
        &[data-bg-color="black"] {
            &::before {
                background-color: #000;
            }
            .sidebar_toggle {
                button {
                    color: #fff;
                }
            }
            .nav {
                .nav_title {
                    color: #fff;
                }
                .nav_item {
                    a {
                        span,
                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }
        &[data-bg-color="red"] {
            &::before {
                background-color: #f44336;
            }
            .sidebar_toggle {
                button {
                    color: #fff;
                }
            }
            .nav {
                .nav_title {
                    color: #fff;
                }
                .nav_item {
                    a {
                        span,
                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &.collapse {
        width: 70px !important;
        .logo_wrapper {
            img {
                &[data-logo="mini-logo"] {
                    display: block;
                }
                &[data-logo="logo"] {
                    display: none;
                }
            }
            .sidebar_toggle {
                display: none;
            }
        }
        .sidebar_background {
            padding: 0 !important;
        }
        .nav {
            padding: 0 8px !important;
            overflow-y: visible !important;
            overflow-x: visible !important;
            .nav_title {
                display: none;
            }
            .nav_item {
                position: relative;
                a {
                    flex-direction: column;
                    span,
                    .arrow {
                        display: none;
                        width: auto;
                    }
                    i {
                        width: auto;
                    }
                }
                .submenu {
                    display: none;
                }
                &:hover {
                    .submenu {
                        display: block !important;
                        position: absolute;
                        top: -10px;
                        left: 62px;
                        margin-top: 0;
                        padding: 12px 16px !important;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        &::after {
                            position: absolute;
                            content: "";
                            top: 16px;
                            left: -11px;
                            height: 1.3rem;
                            width: 1.3rem;
                            border-top-left-radius: 0.25rem;
                            border-width: 1px 0 0 1px;
                            border-style: solid;
                            z-index: 9;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        .sidebar_background {
            &[data-bg-color="white"] {
                .nav {
                    .nav_item {
                        &:hover {
                            .submenu {
                                border-color: #979b9f !important;
                                background-color: #fff;
                                &::after {
                                    border-color: #979b9f !important;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            &[data-bg-color="black"] {
                .nav {
                    .nav_item {
                        &:hover {
                            .submenu {
                                border-color: #7a7a7a !important;
                                background-color: #000;
                                &::after {
                                    border-color: #7a7a7a !important;
                                    background-color: #000;
                                }
                            }
                        }
                    }
                }
            }
            &[data-bg-color="red"] {
                .nav {
                    .nav_item {
                        &:hover {
                            .submenu {
                                border-color: #dbc3c3 !important;
                                background-color: #f44336;
                                &::after {
                                    border-color: #dbc3c3 !important;
                                    background-color: #f44336;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body {
    &[data-theme-direction="rtl"] {
        .sidebar {
            float: right;
            left: auto;
            right: 0;
            .nav {
                .nav_item {
                    .submenu {
                        left: auto !important;
                        right: 60px;
                        &::after {
                            left: auto !important;
                            right: -11px;
                            transform: rotate(135deg) !important;
                        }
                    }
                }
            }
        }
    }
    &[data-theme="dark"] {
        .sidebar_background {
            &::before {
                background-color: var(--bg-content) !important;
            }
            .sidebar_toggle {
                button {
                    color: #fff !important;
                }
            }
            .nav {
                .nav_title {
                    color: #fff !important;
                }
                .nav_item {
                    a {
                        span,
                        i {
                            color: #fff !important;
                        }
                    }
                }
            }
        }
        .collapse {
            .sidebar_background {
                &:hover {
                    .submenu {
                        border-color: #878181 !important;
                        background-color: var(--bg-content) !important;
                        &::after {
                            border-color: #878181 !important;
                            background-color: var(--bg-content) !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .sidebar {
        display: none;
        &.collapse {
            display: block !important;
            width: 280px !important;
            .logo_wrapper {
                a {
                    img {
                        &[data-logo="mini-logo"] {
                            display: none !important;
                        }
                        &[data-logo="logo"] {
                            display: block !important;
                        }
                    }
                }
                .sidebar_toggle {
                    display: block !important;
                }
            }
            .nav {
                padding: 0 16px !important;
                overflow-y: scroll !important;
                overflow-x: visible !important;
                .nav_item {
                    a {
                        flex-direction: row !important;
                        i {
                            width: 30px !important;
                        }
                        span {
                            display: block !important;
                        }
                        .arrow {
                            display: block !important;
                            width: auto !important;
                        }
                    }
                    .submenu {
                        position: relative !important;
                        margin-top: 4px !important;
                        border: none !important;
                        left: 0 !important;
                        background: transparent !important;
                        &::after {
                            display: none;
                        }
                        &[data-submenu-expanded="true"] {
                            display: block !important;
                        }
                        &[data-submenu-expanded="false"] {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}
